<div class="rs-popover-wrapper" ng-hide="is('closed')">
  <div class="rs-popover-overlay" ng-click="close()"></div>
  <div class="rs-popover">
    <div ng-class="{{ styles }}"></div>
    <form name="form" class="rs-popover-content" novalidate>
      <div class="rs-popover-error" ng-show="is('error')">
        <div class="rs-popover-message">{{ state.message }}</div>
      </div>
      <div class="rs-popover-loading" ng-show="is('loading')">
        <div class="rs-popover-message">{{ state.message }}</div>
      </div>
      <div class="rs-popover-body" ng-show="is('open') || is('saving')" ng-transclude></div>
      <div class="rs-popover-footer rs-btn-group" ng-show="is('open') || is('saving')">
        <button class="rs-btn rs-btn-primary" ng-disabled="is('saving')" ng-click="save()">{{ saveLabel || 'Save' }}</button>
        <button class="rs-btn rs-btn-link" ng-hide="is('saving')" ng-click="close()">{{ cancelLabel || 'Cancel' }}</button>
      </div>
    </form>
  </div>
</div>
